.App {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar {
  display: flex;
  padding: 2%;
  background-color: rgb(218, 187, 218);
  font-size: 120%;
  justify-content: space-around;
}

a {
  text-decoration: none;
}
